@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap%27');
/*--------------DEBUT DU CSS DE VANESSA--------------*/ 
body {
        background-color: #070707;
        color: #EEE0CB;
        font-family: 'Merriweather', serif;

    }
h1 {
    font-family: 'Special Elite', cursive;
    color:#A62639;
    text-align: left;
    font-size: 50px;
    border-spacing: 20%;
    margin-bottom: 5%;
    margin-left: 20px;
    
}
.blocpages {
    display: flex;
    animation:move 5s ease-out infinite;
}
.blocpages p {
    text-align: left;
    margin-top: 50px;
    margin-left: 50px;
    animation:move 5s ease-out infinite;
    cursor:pointer;
    transition:1s ease-in; 
}
.blocpages img {
    margin-left: 20px;
    animation:move 5s ease-out infinite;
    cursor:pointer;
    transition:1s ease-in; 
  
}
h3 {
    text-align: center;;
}

@keyframes move {
from {top:300px;}
to {top:0px;}
} 

@keyframes move {
    0% {
    top:100px;
    }
    50% {
    top:300px;
    }
    100% {
    top:100px;
    }
    }
    /*END circle Animation */
    
    /* Swing Animation*/
    @keyframes swing {
      0% {
        transform:rotate(0deg) translate(180px,180px) scale(1, 1);
      }
      50% {
        transform:rotate(90deg) translate(-80px,60px) scale(2, 2);
      }
      100% {
        transform:rotate(0deg) translate(180px,180px) scale(1, 1);
      }
    }
    .texteimage:hover {
        transform:rotateY(300deg);
      }
      
      
    
    /*END swing Animation */
    /* RESPONSIVE DESIGN */

@media all and (max-width: 640px) {
    .blocpages {
        display: flex;
       justify-content: center;
       flex-direction: column;
       
    }
    .blocpages img {
        margin: auto;
        
}

/*-----------FIN DU CSS DE VANESSA----------*/