/* Page CSS de Ghost Wilders Project. */

* {
    margin : 0px;

}

/* Hover-overlay*/

.whoAreWe {
    position: relative;
    width: 100%;
    
}

.img_ho {
    display: block;
    width: 100%;
    height: auto;
    max-height : 600px;
    
    
    
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
  }


.whoAreWe:hover .overlay {
    opacity: 0.5;
}

.text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align : center;
    font-size : 30px
    
}
