/* Pages by Nico */

@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');

canvas {
    background-color: #070707;
}

body {
    background-color: #070707;
}

.soustitrepages {
    color: #EEE0CB;
    font-family: 'Merriweather', serif;
}

.txtpages {
    color: #EEE0CB;
    font-family: 'Merriweather', serif;
}

.titrepages {
    margin-left: 10%;
    font-size: 40px;
    color: #A62639;
    font-family: 'Special Elite', serif;
}

.espace {
    height: 40px;
    width: 100%;
}

.blocpages {
    display: flex;
    flex-direction: row;
    align-content: center;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin-left: 10%;
    margin-right: 10%;
}

.imgpages {
    margin-right: 4%;
}

.descriptionpages {
    margin-left: 4%;
}

@media screen and (max-width: 640px) {
    .blocpages {
        display: flex;
        flex-direction: column;
        align-content: center;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        margin-left: 10%;
        margin-right: 10%;
    }

    .imgpages {
        margin: auto;
    }

    .descriptionpages {
        margin: auto;
    }

    .soustitrepages {
        text-align: center;
    }

    .txtpages {
        text-align: justify;
    }
}
/* Fin pages by Nico */