.blocpoltergeist {
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin-left: 10%;
    margin-right: 10%;
}
.titrepoltergeist {
    text-align: center;
    font-size: 40px;
}
.imgpoltergeist {
    margin-right: 4%;
}
.descriptionptg {
    margin-left: 4%;
}
.espace {
    height: 40px;
    width: 100%;
}