.titrepages {
    text-align: center;
    font-size: 40px;
}
.espace {
    height: 40px;
    width: 100%;
}
@media screen and (min-width: 640px) {
    .blocpoltergeist {
        display: flex;
        flex-direction: row;
        align-content: center;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        margin-left: 10%;
        margin-right: 10%;
    }
    .imgpoltergeist {
        margin-right: 4%;
    }
    .descriptionptg {
        margin-left: 4%;
    }
}
@media screen and (max-width: 640px) {
    .blocpoltergeist {
        display: flex;
        flex-direction: column;
        align-content: center;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        margin-left: 10%;
        margin-right: 10%;
    }
    .imgpoltergeist {
        margin: auto;
    }
    .descriptionptg {
        margin: auto;
    }
    .soustitreptg {
        text-align: center;
    }
    .txtptg {
        text-align: justify;
    }
}